{% extends "base.html.twig" %}

{% block title %}
    Listagem de editoras
{% endblock %}

{% block body %}
<br/>
    <div class="container">
        <div class="row justify-content-sm-center">

        <div class="modal fade" id="modalEditorasInserir" tabindex="-1" role="dialog" aria-labelledby="modal-inserir" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-inserir">Adicionar editora</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" action="{{ path('editoras_inserir') }}" method="POST" name="inserir">
                        <label class="sr-only" for="formAnoEdicoes">Editora</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="formAnoEdicoes" placeholder="Inserir a nova editora" name="editora">
                        <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Adicionar</button>
                        <button type="button" class="btn btn-secondary mb-2 mr-sm-2" data-dismiss="modal">Fechar</button>
                    </form>
                </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary mb-4 mr-sm-4" data-toggle="modal" data-target="#modalEditorasInserir">
            Adicionar editora
        </button>

        <div class="modal fade" id="modalEditorasEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditorasEditarLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditorasEditarLabel">Edição de editoras</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('editoras_editar') }}" method="POST" name="editar">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Editora:</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="recipient-name" name="editora">
                            <input type="hidden" class="form-control" id="recipient-id" name="id">
                            <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Enviar</button>
                            <button type="button" class="btn btn-secondary mb-2 mr-sm-2" data-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
        
        <table class="table table-bordered table-hover table-sm" id="editorasTable" style="width:100%">
            <thead class="thead-light"> 
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Editora</th>
                <th scope="col" class="text-center">Editar</th>
                <th scope="col" class="text-center">Excluir</th>
            </tr>
            </thead>
            <tbody>
                {% for editor in editoras %}
                    <tr>
                        <th>{{ editor.id }}</th>
                        <td>{{ editor.editora }}</td>
                        <td class="text-center"><a href="#modalEditorasEditar" data-toggle="modal" data-editora="{{ editor.editora }}" data-id="{{ editor.id }}"><span class="fas fa-pencil-alt"></span></a></td>
                        <td class="text-center"><a href="{{ path('editoras_deletar', { id:editor.id }) }}" onclick="confirmar_exclusao_editora();"><span class="fas fa-trash-alt"></span></a></td>
                    </tr>
                {% endfor %}                    
            </tbody>
        </table>    
    </div>
    <br/><br/>

{% endblock %}