{% extends "base.html.twig" %}

{% block title %}
    Listagem de autores
{% endblock %}

{% block body %}
<br/>
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center">

            <div class="modal fade" id="modalAutoresInserir" tabindex="-1" role="dialog" aria-labelledby="modal-inserir" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-inserir">Adicionar autor</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" action="{{ path('autores_inserir') }}" method="POST" name="inserir">
                            <label class="sr-only" for="formAnoEdicoes">Autor</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" id="formAnoEdicoes" placeholder="Inserir o novo autor" name="autor">
                            <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Adicionar</button>
                            <button type="button" class="btn btn-secondary mb-2 mr-sm-2" data-dismiss="modal">Fechar</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary mb-4 mr-sm-4" data-toggle="modal" data-target="#modalAutoresInserir">
                Adicionar autor
            </button>

            <div class="modal fade" id="modalAutoresEditar" tabindex="-1" role="dialog" aria-labelledby="modalAutoresEditarLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAutoresEditarLabel">Edição de autores</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ path('autores_editar') }}" method="POST" name="editar">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Ano:</label>
                                <input type="text" class="form-control mb-2 mr-sm-2" id="recipient-name" name="autor">
                                <input type="hidden" class="form-control" id="recipient-id" name="id">
                                <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Enviar</button>
                                <button type="button" class="btn btn-secondary mb-2 mr-sm-2" data-dismiss="modal">Fechar</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-hover table-sm" id="autoresTable" style="width:100%">
                <thead class="thead-light"> 
                    <tr>
                        <th scope="col" class="text-center">ID</th>
                        <th scope="col" class="text-center">Autor</th>
                        <th scope="col" class="text-center">Editar</th>
                        <th scope="col" class="text-center">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for autor in autores %}
                        <tr>
                            <th>{{ autor.id }}</th>
                            <td>{{ autor.autor }}</td>
                            <td class="text-center"><a href="#modalAutoresEditar" data-toggle="modal" data-autor="{{ autor.autor }}" data-id="{{ autor.id }}"><span class="fas fa-pencil-alt"></span></a></td>
                            <td class="text-center"><a href="{{ path('autores_deletar', { id:autor.id }) }}" onclick="confirmar_exclusao_autor();"><span class="fas fa-trash-alt"></span></a></td>
                        </tr>
                    {% endfor %}                    
                </tbody>
            </table>    
    </div>
    <br/><br/>
{% endblock %}